<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--Launch file for sim-->
  <!--include file="$(find boat_sim)/launch/boat.launch"/-->
  <!--include file="$(find boat_sim)/launch/apm.launch"/-->

  <node name="fake_angle_finder" pkg="prop_follower" type="fake_angle_finder" output="log">
    <rosparam file="$(find prop_follower)/config/params.yaml" command="load" />
  </node>

  <node name="coord_finder" pkg="prop_follower" type="coord_finder" output="log">
    <rosparam file="$(find prop_follower)/config/params.yaml" command="load" />
    <remap from="/scan" to="/laser/scan"/>
  </node>

  <!--node name="velocity_sender" pkg="prop_follower" type="velocity_sender" output="log" >
    <rosparam file="$(find prop_follower)/config/params.yaml" command="load" />
  </node-->

  <node name="waypoint_sender" pkg="prop_follower" type="waypoint_sender" output="screen" >
  </node>

</launch>