<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Specify what functionality you are testing-->
    <arg name="object_detection" default="false"/> 
    <arg name="lidar-distance-angle-measurement" default="true"/> <!-- setting to false produces arbitrary fake coordinates-->
    <arg name="velocity_sender" default="true"/> <!-- setting to true uses velocity_sender, setting to false uses waypoint_sender -->

  <!--=======================================================================-->

  <node name="fake_angle_finder" pkg="prop_follower" type="fake_angle_finder" output="log" unless="$(arg object_detection)">
    <rosparam file="$(find prop_follower)/config/params.yaml" command="load" />
  </node>

  <node name="coord_finder" pkg="prop_follower" type="coord_finder" output="log" if="$(arg lidar-distance-angle-measurement)" >
    <rosparam file="$(find prop_follower)/config/params.yaml" command="load" />
  </node>

  <node name="fake_coord_finder" pkg="prop_follower" type="fake_coord_finder" output="log" unless="$(arg lidar-distance-angle-measurement)" >
    <rosparam file="$(find prop_follower)/config/fake_coords.yaml" command="load" />
  </node>

</launch>